

@media print, screen and (min-width:1080px)
{

.maintext{
                    font-family: "Noto Sans JP", sans-serif;
                    font-optical-sizing: auto;
                    background-image:url(../img/haikei.pc.png)!important;
                    background-repeat: repeat;
                    color: #3e3a39;
                    padding:0% 20% 7% 20%!important;
                    margin-top: 0!important;
                    text-align: center;
                    
                   
}



.aisatu{
                    margin-top: 5%;
                    font-size:20px;
}
.pagetitle{
                    padding-top:10% ;
}

}




@media print, screen and (max-width:1080px){

  .maintext{
                     font-family: "Noto Sans JP", sans-serif;
                    font-optical-sizing: auto;
                    background-image:url(../img/haikei.pc.png)!important;
                    background-repeat: repeat;
                    color: #3e3a39;
                    padding:0% 20% 7% 20%!important;
                    margin-top: 0!important;
                    text-align: center;
                    
                                        
                                       
}
                    
                    
                    
 .aisatu{
                     margin-top: 5%;
                     font-size: 10px;
}
 .pagetitle{
                     padding-top:10% ;
 }
                    
                    
}



