

.maintext{
                    font-family: "Noto Sans JP", sans-serif;
                    font-optical-sizing: auto;
                    background-image:url(../img/haikei.pc.png)!important;
                    background-repeat: repeat;
                    color: #3e3a39;
                    padding:0 20% 10% 20%!important;
                    margin-top: 0!important;
                    
                   
}

.pagetitle{
                    padding-top: 5%;

}





.bun{
                text-align: center;
                margin-top: 10%;

}

.ao{
                    color:#036eb8 ;
                    font-style: bold;
}

.hidari{
                    margin-top: 5%;
                   text-align: left;
                   


}

.hutoi{
                    text-align: left;
                    font-weight: bold;
                   
}