/* アコーディオン */    
details{
    text-align: left;
    position: relative;
    font-size: 14px;
}
summary{
    display: block;
}
summary::-webkit-details-marker {
    display: none; 
}
summary::after{
    content: '続きを読む';
    color: #59c3e1;
    position: absolute;
    right: 0;
    bottom: -20px;
}
.moreread{
    margin: 0;
}
details[open] summary::after{
    content: '閉じる';
}
/* アコーディオン終わり */
.maintext{
    text-align: center;
    color: #3e3a39;
    font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    margin: 0 auto;
    padding-top: 90px;
    padding-bottom: 80px;
    background-image: url(../img/haikei.pc.png);
    background-size: 100% auto;
    background-repeat: repeat-y;
}
.container{
    width: 70%;
    margin: 0 auto;
}
.container > h2{
    margin-bottom: 5px;
}
.container > p{
    font-size: 20px;
    text-align: left;
}
.for-sp{
    display: none;
}
.meishi-koumoku{
    font-size: 20px;
}
.bold{
    font-weight: bold;
    margin-bottom: 5px;
}
.kasen{
    border-bottom: 1.5px solid #aeddee;
    padding-bottom: .1em;
    border-radius: 2px;
    display: inline-block;
    text-align: center;
}
.left{
    text-align: left;
}
.light > a{
    color: #036eb8;
}
.humei{
    margin-top: 80px;
}
.center{
    text-align: center;
    font-size: 20px;
    padding-top: 60px;
    width: 74%;
    margin: 0 auto;
}
@media screen and (max-width:1023px){
    .maintext{
        background-image: url(../img/haikei.sp.png);
    }
    .container{
        margin-top: 30px;
    }
    .container > p{
        font-size: 14px;
    }
    .for-pc{
        display: none;
    }
    .for-sp{
        display: block;
    }
    .meishi-koumoku{
        font-size: 14px;
    }
    .humei{
        margin-top: 45px;
    }
    .center{
        font-size: 14px;
        padding-top: 40px;
        text-align: left;
        width: 70%;
    }
}